@import '../Global.scss';

.info-page{
    display: flex;
    // justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding-top: 40px;
    overflow-y: scroll;
    

    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 500px;
        width: 70%;
        -webkit-box-shadow: 0 0 5px rgb(0,0,0);
        -moz-box-shadow: 0 0 10px rgb(0,0,0);
        z-index: 2;
        margin-left: 100px;
        // position: fixed;
        background-color: white;
        min-width: 300px;
        

        .field{
            margin: 30px;
            margin-bottom: 10px;
            width: 80%;
            height: 56px;
            border-radius: 4px;
            position: relative;
            background-color: rgba(29, 180, 36, 0.3);
            transition: 0.3s all;

            .input{
                width: 90%;
                height: 56px;
                position: relative;
                padding: 0 16px;
                border: none;
                border-radius: 4px;
                font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                background-color: transparent;
                color: #282828;
                outline: none;
                box-shadow: 0px 4px 20px 0px transparent;
                transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
                -webkit-appearance: none;
            }
        }

        .note{
            width: 80%;
            .note-logo{
                margin: 20px;
                .logo-wrapper{
                    display: flex;
                    .warning-logo{
                        color: rgb(201, 74, 65);
                        margin-right: 10px;
                    }
                    .warning-text{
                        font-weight: 500;
                        color: rgb(201, 74, 65);;
                    }
                }
                .note-text{
                    display: flex;
                    align-items: center;
                    margin: 20px;
                    flex-direction: row;
                    .checkbox{
                        margin: 10px;
                    }
                }
                
            }
        }

        .submit-button{
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(48, 167, 48,0.8);
            color: white;
            font-weight: 500;
            -webkit-box-shadow: 0 0 5px 0 rgb(0,0,0);
            -moz-box-shadow: 0 0 0 0 rgb(0,0,0);
            transition: all 1s ease;
            
            &:hover{
                cursor: pointer;
                opacity: 0.8;
            }

        }
        .disabled-button{
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(174, 204, 174, 0.8);
            color: white;
            font-weight: 500;
            // -webkit-box-shadow: 0 0 5px 0 rgb(0,0,0);
            // -moz-box-shadow: 0 0 0 0 rgb(0,0,0);
            transition: all 1s ease;
        }

        
    }

    .image1-wrapper{
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        
        z-index: 1;
        .image1{
            height: 500px;
            width: 500px;
            opacity: 0.8; 
        }
    }

}